<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletsWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>in.vamsoft.servlet.FirstServlet</servlet-class>
    <init-param>
      <param-name>companyName</param-name>
      <param-value>Vamsoft tech</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>city</param-name>
    <param-value>hai</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>SecondServlet</display-name>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>in.vamsoft.servlet.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/SecondServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServlet1</display-name>
    <servlet-name>SecondServlet1</servlet-name>
    <servlet-class>in.vamsoft.servlet.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet1</servlet-name>
    <url-pattern>/SecondServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContextOne</display-name>
    <servlet-name>ContextOne</servlet-name>
    <servlet-class>in.vamsoft.servlet.ContextOne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextOne</servlet-name>
    <url-pattern>/ContextOne</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContextSecond</display-name>
    <servlet-name>ContextSecond</servlet-name>
    <servlet-class>in.vamsoft.servlet.ContextSecond</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextSecond</servlet-name>
    <url-pattern>/ContextSecond</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetPreferencesServlet</display-name>
    <servlet-name>SetPreferencesServlet</servlet-name>
    <servlet-class>in.vamsoft.servlet.SetPreferencesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetPreferencesServlet</servlet-name>
    <url-pattern>/SetPreferencesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCookie</display-name>
    <servlet-name>GetCookie</servlet-name>
    <servlet-class>in.vamsoft.servlet.GetCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCookie</servlet-name>
    <url-pattern>/GetCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateUserServlet</display-name>
    <servlet-name>ValidateUserServlet</servlet-name>
    <servlet-class>in.vamsoft.servlet.ValidateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateUserServlet</servlet-name>
    <url-pattern>/ValidateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomePageSession</display-name>
    <servlet-name>HomePageSession</servlet-name>
    <servlet-class>in.vamsoft.servlet.HomePageSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePageSession</servlet-name>
    <url-pattern>/HomePageSession</url-pattern>
  </servlet-mapping>
</web-app>