<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>VamsoftWebProj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
  <param-name>DummyParam</param-name>
  <param-value>123</param-value></context-param>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>in.vamsoft.servlet.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registrationservlet</display-name>
    <servlet-name>Registrationservlet</servlet-name>
    <servlet-class>in.vamsoft.servlet.Registrationservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registrationservlet</servlet-name>
    <url-pattern>/Registrationservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ELServlet</display-name>
    <servlet-name>ELServlet</servlet-name>
    <servlet-class>in.vamsoft.servlet.ELServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ELServlet</servlet-name>
    <url-pattern>/ELServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ELServlet1</display-name>
    <servlet-name>ELServlet1</servlet-name>
    <servlet-class>in.vamsoft.servlet.ELServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ELServlet1</servlet-name>
    <url-pattern>/ELServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ELServlet2</display-name>
    <servlet-name>ELServlet2</servlet-name>
    <servlet-class>in.vamsoft.servlet.ELServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ELServlet2</servlet-name>
    <url-pattern>/ELServlet2</url-pattern>
  </servlet-mapping>
</web-app>